<h1> Quantidade: <%= @mensagem %> </h1>

<h2> CRUD - Professor </h2>
<a href="/tela_adicionar"> Adicionar </a>
<br>
<a href="/listar"> Listar </a>

<hr>

<h2> CRUD - Aluno </h2>

<a href="/tela_adicionar_aluno"> Adicionar Aluno </a>
<br>

<a href="/listar_aluno"> Listar Aluno </a>
